   body {
    background-color: lightskyblue; font-family: Arial, Helvetica, sans-serif; font-size: 21px;

}
h1{color: rgb(117, 210, 238); background-color: rgb(20, 94, 84);
}
h2{color: darkred; font-size: 1.2em;}
 p{text-align: justify;}    